attrs==19.3.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
bs4==0.0.1
Click==7.0
configparser==4.0.2
contextlib2==0.6.0.post1
Flask==1.1.1
functools32==3.2.3.post2
gunicorn==19.10.0
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
lxml==4.6.2
MarkupSafe==1.1.1
pathlib2==2.3.5
pyrsistent==0.15.7
scandir==1.10.0
six==1.14.0
soupsieve==1.9.5
Werkzeug==1.0.0
zipp==0.2.0
